<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>Zero</string>
  <key>CFBundleDisplayName</key><string>Zero</string>
  <key>CFBundleIdentifier</key><string>com.arjunnair.zero</string>
  <key>CFBundleVersion</key><string>0.9.0</string>
  <key>CFBundleShortVersionString</key><string>0.9.0</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleExecutable</key><string>Zero</string>
  <key>CFBundleIconFile</key><string>Zero.icns</string>
  <key>LSMinimumSystemVersion</key><string>11.0</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key><string>ZX Spectrum file</string>
      <key>CFBundleTypeRole</key><string>Viewer</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>szx</string><string>sna</string><string>z80</string>
        <string>pzx</string><string>tap</string><string>rzx</string><string>scr</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
